@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Bold';
  src: url("../fonts/century.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header-navbar {
  background-color: #c4e9f3;
}

.header-navbar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
}

.header-navbar__li {
  list-style-type: none;
  font-size: 14px;
  font-family: 'Roboto Medium', sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #363636;
}

.header-navbar__li:before {
  content: url("../img/header/line.png");
  position: absolute;
  left: 0;
  bottom: 4px;
}

.header-navbar__li:first-child:before {
  content: none;
}

.header-navbar__li:hover {
  background-color: #DCF2F8;
}

.header-navbar__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 179px;
  height: 65px;
  color: #363636;
}

.header-navbar__a:hover {
  color: #009ac0;
}

.header-navbar__icon {
  display: none;
}

.ul-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  width: 362px;
  height: 265px;
  left: 0;
  background-color: #dcf2f8;
  padding: 0;
  z-index: 99;
}

.li-five {
  position: reletive;
}

.li-five:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.li-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  list-style-type: none;
  font-family: 'Roboto Medium', sans-serif;
  text-transform: uppercase;
  height: 60px;
  padding-left: 25px;
  position: relative;
}

.li-dropdown:before {
  content: '';
  height: 1px;
  width: 306px;
  background-color: #fff;
  bottom: 0;
  position: absolute;
}

.li-dropdown:last-child:before {
  content: none;
}

.li-dropdown a {
  text-decoration: none;
  line-height: 20px;
  color: #363636;
}

.li-dropdown a:hover {
  color: #009ac0;
}

.humburger-inner {
  background-color: #fff;
}

.humburger-inner:before {
  background-color: #fff;
}

.humburger-inner:after {
  background-color: #fff;
}

.humburger-wrap {
  display: none;
}

#mmenu {
  z-index: 2;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 29px;
}

.header-content__phone img {
  width: 28px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 11px;
  margin-top: 3px;
}

.header-content__phone_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto Light', sans-serif;
}

.header-content__phone_number a {
  outline: none;
  text-decoration: none;
  color: #363636;
  font-size: 15px;
  line-height: 24px;
}

.header-content__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.header-content__message img {
  width: 28px;
  height: 25px;
}

.header-content__message_mail {
  font-family: 'Roboto Light', sans-serif;
}

.header-content__message_mail a {
  outline: none;
  text-decoration: none;
  color: #363636;
  font-size: 15px;
  line-height: 24px;
}

.header-content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header-content__title {
  font-family: 'Roboto Light', sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
}

.header-content__title span {
  color: #009ac0;
  font-family: 'Century Bold', sans-serif;
  font-size: 28px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
}

.header-content__title span:before {
  content: '';
  position: absolute;
  bottom: -7px;
  width: 100%;
  height: 1px;
  background-color: #009ac0;
}

.header-content__subtitle {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 26px;
}

.header-content__btns {
  padding-top: 30px;
}

.header-content__btns_transparent {
  cursor: pointer;
  outline: none;
  border: 1px solid #99cc53;
  background-color: #fff;
  color: #99cc53;
  font-family: 'Roboto Light', sans-serif;
  font-size: 13px;
  line-height: 24px;
  border-radius: 5px;
  width: 178px;
  height: 32px;
  margin-right: 17px;
}

.header-content__btns_transparent:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #8ec740;
  color: #ffffff;
}

.header-content__btns_feedback {
  width: 164px;
  height: 45px;
  text-transform: uppercase;
}

.feedback {
  background: url("../img/feedback/bgi-feedback.png") no-repeat center 100%;
  background-size: cover;
  padding-top: 32px;
  padding-bottom: 37px;
}

.feedback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-content__image {
  padding-bottom: 10px;
}

.feedback-content__image img {
  width: 411px;
  height: 411px;
}

.feedback-content__form_list {
  width: 195px;
  height: 41px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  padding-left: 25px;
  outline: none;
  margin-bottom: 20px;
}

.feedback-content__form_list:first-child {
  margin-right: 10px;
}

.feedback-content__form {
  width: 680px;
}

.feedback-content__form_title {
  font-size: 30px;
  font-family: 'Roboto Light', sans-serif;
  line-height: 33px;
  color: #009ac0;
}

.feedback-content__form_subtitle {
  font-size: 18px;
  font-family: 'Roboto Light', sans-serif;
  line-height: 24px;
}

.feedback-content__blank {
  text-decoration: none;
  position: relative;
  height: 20px;
  margin-top: 30px;
  margin-left: 40px;
}

.feedback-content__blank:before {
  content: '';
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  height: 1px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.feedback-content__btn {
  width: 203px;
  height: 53px;
  text-transform: uppercase;
}

.feedback-content__btn:focus {
  outline: none;
}

form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

select {
  background: white;
  border: 1px solid white;
  width: 196px;
  height: 45px;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #363636;
  cursor: pointer;
}

.form__select {
  position: relative;
  margin-left: 10px;
}

.form__select:before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 8px;
  height: 2px;
  background-color: #8ec740;
  -webkit-transform: rotate(-27deg);
          transform: rotate(-27deg);
  top: 22px;
  right: 20px;
  z-index: 1;
}

.form__select:after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 8px;
  height: 2px;
  background-color: #8ec740;
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
  top: 22px;
  right: 26px;
  z-index: 1;
}

.form__select select option {
  outline: none;
  border: none;
}

.work {
  padding-top: 40px;
  padding-bottom: 85px;
}

.work-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-wrap__block {
  width: 263px;
  height: 385px;
  background-color: #e6f4f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-wrap__block-image_one {
  margin-top: 37px;
}

.work-wrap__block-image_two {
  margin-top: 42px;
}

.work-wrap__block-image_three {
  margin-top: 38px;
}

.work-wrap__block-image_four {
  margin-top: 40px;
}

.work-wrap__block_title {
  color: #009ac0;
  font-size: 18px;
  font-family: 'Roboto Bold', sans-serif;
  line-height: 33px;
  position: relative;
}

.work-wrap__block_title:before {
  content: '';
  bottom: 0;
  left: 19%;
  height: 1px;
  width: 106px;
  background-color: #009ac0;
  position: absolute;
}

.work-wrap__block_text {
  text-align: center;
  margin: 18px auto;
  width: 226px;
  height: 150px;
  font-size: 14px;
  font-family: 'Roboto Light', sans-serif;
  line-height: 18px;
}

.work-wrap__block_btn {
  width: 164px;
  height: 45px;
  text-transform: capitalize;
}

body {
  margin: 0;
  padding: 0;
  color: #363636;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.button {
  outline: none;
  cursor: pointer;
  border: 1px solid #99cc53;
  background-color: #8ec740;
  color: #ffffff;
  font-family: 'Roboto Light', sans-serif;
  font-size: 13px;
  line-height: 24px;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Roboto Medium', sans-serif;
  line-height: 21.47px;
  border-radius: 22px;
}

.button:hover {
  background-color: #6ca322;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border: 1px solid #6ca322;
}

@media only screen and (max-width: 1255px) {
  .container {
    width: 90%;
  }
  .header-navbar__a {
    width: 150px;
  }
}

@media only screen and (max-width: 1205px) {
  .feedback-content__form_list {
    width: 94.5%;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }
  .feedback-content__form_action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback-content__btn {
    width: 94.5%;
    margin-top: 20px;
  }
  .feedback-content__blank {
    width: 255px;
    margin: 0;
    margin-top: 20px;
    margin-left: 27%;
  }
  .form__select {
    margin-left: 0;
  }
  .form__select select {
    width: 94.5%;
    text-align-last: center;
    padding-left: 0;
  }
  .form__select:before {
    right: 52px;
  }
  .form__select:after {
    right: 58px;
  }
}

@media only screen and (max-width: 1205px) {
  .header-navbar {
    display: none;
  }
  .humburger-wrap {
    display: inline-block;
  }
}
/*# sourceMappingURL=main.css.map */