@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Bold';
  src: url("../fonts/century.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header-navbar {
  background-color: #c4e9f3;
}

.header-navbar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
}

.header-navbar__li {
  list-style-type: none;
  font-size: 14px;
  font-family: 'Roboto Medium', sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #363636;
}

.header-navbar__li:before {
  content: url("../img/header/line.png");
  position: absolute;
  left: 0;
  bottom: 4px;
}

.header-navbar__li:first-child:before {
  content: none;
}

.header-navbar__li:hover {
  background-color: #DCF2F8;
  -webkit-transform-style: 0.9s esea;
          transform-style: 0.9s esea;
}

.header-navbar__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 179px;
  height: 65px;
  color: #363636;
}

.header-navbar__a:hover {
  color: #009ac0;
}

.header-navbar__icon {
  display: none;
}

.ul-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  width: 362px;
  height: 265px;
  left: 0;
  background-color: #dcf2f8;
  padding: 0;
  z-index: 99;
}

.li-five {
  position: reletive;
}

.li-five:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.li-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  list-style-type: none;
  font-family: 'Roboto Medium', sans-serif;
  text-transform: uppercase;
  height: 60px;
  padding-left: 25px;
  position: relative;
}

.li-dropdown:before {
  content: '';
  height: 1px;
  width: 306px;
  background-color: #fff;
  bottom: 0;
  position: absolute;
}

.li-dropdown:last-child:before {
  content: none;
}

.li-dropdown a {
  text-decoration: none;
  line-height: 20px;
  color: #363636;
}

.li-dropdown a:hover {
  color: #009ac0;
}

.humburger-wrap {
  position: relative;
  width: 26px;
  height: 19px;
  margin-top: 22px;
  margin-right: 22px;
  display: none;
}

.humburger-wrap span {
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  width: 26px;
  height: 3px;
  background-color: #8ec740;
  border-radius: 10px;
}

.humburger-wrap span:before {
  content: '';
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  width: 26px;
  height: 3px;
  background-color: #8ec740;
  border-radius: 10px;
}

.humburger-wrap span:after {
  content: '';
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  width: 26px;
  height: 3px;
  background-color: #8ec740;
  border-radius: 10px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 29px;
}

.header-content__phone img {
  width: 28px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 11px;
  margin-top: 3px;
}

.header-content__phone_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto Light', sans-serif;
}

.header-content__phone_number a {
  outline: none;
  text-decoration: none;
  color: #363636;
  font-size: 15px;
  line-height: 24px;
}

.header-content__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.header-content__message img {
  width: 28px;
  height: 25px;
}

.header-content__message_mail {
  font-family: 'Roboto Light', sans-serif;
}

.header-content__message_mail a {
  outline: none;
  text-decoration: none;
  color: #363636;
  font-size: 15px;
  line-height: 24px;
}

.header-content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header-content__title {
  font-family: 'Roboto Light', sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
}

.header-content__title span {
  color: #009ac0;
  font-family: 'Century Bold', sans-serif;
  font-size: 28px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
}

.header-content__title span:before {
  content: '';
  position: absolute;
  bottom: -7px;
  width: 100%;
  height: 1px;
  background-color: #009ac0;
}

.header-content__subtitle {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 26px;
}

.header-content__btns {
  padding-top: 30px;
}

.header-content__btns_transparent {
  cursor: pointer;
  outline: none;
  border: 1px solid #99cc53;
  background-color: #fff;
  color: #99cc53;
  font-family: 'Roboto Light', sans-serif;
  font-size: 13px;
  line-height: 24px;
  border-radius: 5px;
  width: 178px;
  height: 32px;
  margin-right: 17px;
}

.header-content__btns_transparent:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #8ec740;
  color: #ffffff;
}

.header-content__btns_feedback {
  width: 164px;
  height: 45px;
  text-transform: uppercase;
}

.header-content__logo_mobile {
  display: none;
}

.btn-green_mobile {
  background-color: transparent;
  border: none;
  outline: none;
}

.feedback {
  background: url("../img/feedback/bgi-feedback.png") no-repeat center 100%;
  background-size: cover;
  padding-top: 32px;
  padding-bottom: 37px;
}

.feedback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-content__image {
  padding-bottom: 10px;
}

.feedback-content__image img {
  width: 411px;
  height: 411px;
}

.feedback-content__form_add {
  display: none;
}

.feedback-content__form_list {
  width: 195px;
  height: 41px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  padding-left: 25px;
  outline: none;
  margin-bottom: 20px;
}

.feedback-content__form_list:first-child {
  margin-right: 10px;
}

.feedback-content__form {
  width: 680px;
}

.feedback-content__form_title {
  font-size: 30px;
  font-family: 'Roboto Light', sans-serif;
  line-height: 33px;
  color: #009ac0;
}

.feedback-content__form_subtitle {
  font-size: 18px;
  font-family: 'Roboto Light', sans-serif;
  line-height: 24px;
}

.feedback-content__blank {
  text-decoration: none;
  position: relative;
  height: 20px;
  margin-top: 30px;
  margin-left: 40px;
  color: #009ac0;
  font-size: 12px;
  font-family: 'Roboto Medium', sans-serif;
  line-height: 24px;
  text-transform: uppercase;
}

.feedback-content__blank:before {
  content: '';
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  height: 1px;
  width: 100%;
  bottom: 0;
  position: absolute;
  outline: none;
}

.feedback-content__blank:foucus {
  outline: none;
}

.feedback-content__btn {
  width: 203px;
  height: 53px;
  text-transform: uppercase;
}

.feedback-content__btn:focus {
  outline: none;
}

form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

select {
  background: white;
  border: 1px solid white;
  width: 196px;
  height: 45px;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #363636;
  cursor: pointer;
}

.form__select {
  position: relative;
  margin-left: 10px;
}

.form__select:before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 8px;
  height: 2px;
  background-color: #8ec740;
  -webkit-transform: rotate(-27deg);
          transform: rotate(-27deg);
  top: 22px;
  right: 20px;
  z-index: 1;
}

.form__select:after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 8px;
  height: 2px;
  background-color: #8ec740;
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
  top: 22px;
  right: 26px;
  z-index: 1;
}

.form__select select option {
  outline: none;
  border: none;
}

.add-link__visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 4px;
}

.add-link__visible input {
  width: 195px;
  height: 41px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border-radius: 20px;
  outline: none;
  padding-left: 25px;
  margin-right: 10px;
}

.add-blank_visible {
  margin-left: 33%;
}

.work {
  padding-top: 40px;
  padding-bottom: 85px;
}

.work-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-wrap__block {
  width: 263px;
  height: 385px;
  background-color: #e6f4f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-wrap__block-image_one {
  margin-top: 37px;
}

.work-wrap__block-image_two {
  margin-top: 42px;
}

.work-wrap__block-image_three {
  margin-top: 38px;
}

.work-wrap__block-image_four {
  margin-top: 40px;
}

.work-wrap__block_title {
  color: #009ac0;
  font-size: 18px;
  font-family: 'Roboto Bold', sans-serif;
  line-height: 33px;
  position: relative;
}

.work-wrap__block_title:before {
  content: '';
  bottom: 0;
  left: 19%;
  height: 1px;
  width: 106px;
  background-color: #009ac0;
  position: absolute;
}

.work-wrap__block_text {
  text-align: center;
  margin: 18px auto;
  width: 226px;
  height: 150px;
  font-size: 14px;
  font-family: 'Roboto Light', sans-serif;
  line-height: 18px;
}

.work-wrap__block_btn {
  width: 164px;
  height: 45px;
  text-transform: capitalize;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 40%;
  margin-top: -10px;
  outline: none;
}

.owl-prev {
  left: -13px;
}

.owl-next {
  right: -13px;
}

.reviews {
  padding-bottom: 40px;
}

.reviews-content__title {
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto Light', sans-serif;
  margin-bottom: 40px;
  margin-top: 0;
}

.reviews-content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-content__block_entrails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 549px;
  margin-bottom: 40px;
}

.reviews-content__block-text {
  background-color: #F2F8FA;
  width: 423px;
  margin-left: 25px;
  position: relative;
  padding: 10px 18px 27px 29px;
  border-radius: 10px;
}

.reviews-content__block-text:before {
  content: '';
  left: -17px;
  top: 50px;
  position: absolute;
  height: 20px;
  width: 17px;
  background: url("../img/reviews/arrow-t.png");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews-content__block-text_h {
  color: #464646;
  font-size: 17px;
  font-family: 'Roboto Medium', sans-serif;
  margin-bottom: 4px;
}

.reviews-content__block-text_l {
  color: #464646;
  font-size: 17px;
  font-family: 'Roboto Light', sans-serif;
  line-height: 25px;
  text-align: justify;
}

.owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.images-slide {
  position: absolute;
  bottom: 65px;
  left: 188px;
}

.images-slide2 {
  position: absolute;
  bottom: 65px;
  right: 163px;
}

.order {
  background-color: #f5fbfd;
  padding-top: 40px;
  padding-bottom: 40px;
}

.order-content__title {
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto Medium', sans-serif;
  line-height: 22px;
}

.order-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-family: 'Roboto Medium', sans-serif;
  line-height: 25px;
}

.order-content__list_l {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.order-content__list_l li {
  color: #8ec740;
}

.order-content__list_l li span {
  color: #363636;
}

.order-content__list_r {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 20px;
}

.order-content__list_r li {
  color: #8ec740;
}

.order-content__list_r li span {
  color: #363636;
}

.news {
  padding-top: 32px;
  padding-bottom: 122px;
}

.news-title {
  text-align: center;
  font-size: 22px;
  font-family: 'Roboto Medium', sans-serif;
  line-height: 22px;
  margin-bottom: 30px;
}

.news-content {
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto Medium', sans-serif;
  line-height: 20px;
}

.news-content__box_data {
  color: #8a8a8a;
  font-family: 'Roboto Light', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.news-content__box_text {
  text-decoration: underline;
  line-height: 20px;
  padding-bottom: 25px;
}

.news-content__box_text a {
  outline: none;
  color: #009ac0;
}

.footer {
  background-color: #f5fbfd;
  padding-top: 33px;
  padding-bottom: 46px;
  position: relative;
}

.footer:before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #d6ebf2;
  position: absolute;
  top: 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.footer-content:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 115%;
  bottom: -71px;
  left: -76px;
  background-color: #d6ebf2;
}

.footer-content img:nth-child(1) {
  margin-right: 10px;
}

.footer-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: 'Roboto Light', sans-serif;
  line-height: 20px;
}

.footer-content__box img {
  width: 33px;
  height: 26px;
}

.footer-content__box_text-subtitle a {
  color: #363636;
  text-decoration: none;
}

.footer-content__box_text-title {
  font-family: 'Roboto Medium', sans-serif;
}

.footer-close {
  text-align: center;
  margin-top: 120px;
  font-family: 'Roboto Light', sans-serif;
}

.tel {
  width: 28px;
  height: 30px;
}

.ms {
  width: 28px;
  height: 25px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.52);
  left: 0;
  top: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.modal-window {
  width: 550px;
  height: 450px;
  background-color: #fff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e6f4f8;
  border-radius: 20px;
  position: relative;
}

.modal_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.modal-content_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}

.modal-content__form {
  text-align: center;
}

.modal-content__form_title {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 25px;
  margin-top: 0;
}

.modal-content__form_subtitle {
  font-family: 'Roboto Light', sans-serif;
  font-size: 15px;
}

.modal-content__form_feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-content__form_transperent {
  text-align: center;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border-radius: 20px;
  outline: none;
}

.modal-content__form_transperent select {
  margin-left: 0;
}

.modal-content__form_btn {
  height: 53px;
  margin-top: 15px;
}

.first-input {
  margin-bottom: 10px;
}

.selct-modal {
  margin-left: 0;
}

.last-input {
  margin-bottom: 10px;
  margin-top: 10px;
}

.header-menu {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 105;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.header-menu__window {
  width: 90%;
  position: fixed;
}

.header-menu__box {
  background-color: #009ac0;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header-menu__close {
  position: absolute;
  right: 20px;
  top: 15px;
}

.header-menu__content {
  background-color: #c4e9f3;
  height: 100vh;
}

.header-menu__content ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  font-family: Roboto;
  font-size: 14px;
  font-family: 'Roboto Medium', sans-serif;
  line-height: 24px;
}

.mobile-menu_visible {
  display: block;
  position: fixed;
}

.mobile-menu__li {
  position: relative;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.mobile-menu__li:before {
  bottom: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #009ac0;
  opacity: 0.11;
  position: absolute;
}

.mobile-menu__li_black {
  text-decoration: none;
  color: #44494a;
  padding-left: 15px;
}

.mobile-menu__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 44px;
  left: 0px;
  width: 100%;
}

.mobile-menu__dropdown_l {
  height: 35px;
  position: relative;
}

.mobile-menu__dropdown_l:before {
  content: '';
  height: 1px;
  width: 240%;
  bottom: 0;
  left: -70px;
  background-color: #009ac0;
  opacity: 0.11;
  position: absolute;
}

.mobile-menu__dropdown_l a {
  padding-left: 50px;
}

.mobile-menu__dropdown_link {
  text-decoration: none;
  color: #44494a;
}

.mobile-five {
  position: relative;
  margin-bottom: 173px;
}

.mobile-five:before {
  display: none;
}

.mobile-five_blue {
  color: #009ac0;
  text-decoration: none;
  padding-left: 15px;
}

body {
  margin: 0;
  padding: 0;
  color: #363636;
}

a {
  outline: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.button {
  outline: none;
  cursor: pointer;
  border: 1px solid #99cc53;
  background-color: #8ec740;
  color: #ffffff;
  font-family: 'Roboto Light', sans-serif;
  font-size: 13px;
  line-height: 24px;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Roboto Medium', sans-serif;
  line-height: 21.47px;
  border-radius: 22px;
}

.button:hover {
  background-color: #6ca322;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border: 1px solid #6ca322;
}

@media only screen and (max-width: 1387px) {
  .footer-content:before {
    width: 102%;
    left: 2px;
  }
}

@media only screen and (max-width: 1256px) {
  .order-content__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order-content__box ul {
    margin: 0;
  }
  .order-content__list_r {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .order-content__list_r ul {
    padding-left: 22px;
  }
}

@media only screen and (max-width: 1255px) {
  .container {
    width: 90%;
  }
  .header-navbar__a {
    width: 150px;
  }
}

@media only screen and (max-width: 1229px) {
  .reviews-content__block_entrails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews-content__block-text {
    margin-left: 0;
  }
  .reviews-content__block-text:before {
    display: none;
  }
  .reviews-content__block-image {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1204px) {
  .work-wrap__block {
    width: 100%;
  }
}

@media only screen and (max-width: 1205px) {
  .feedback-content__form_list {
    width: 94.5%;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }
  .feedback-content__form_action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback-content__form_add input {
    text-align: center;
    width: 90.5%;
    margin-right: 7px;
    margin-top: 20px;
  }
  .feedback-content__form_add input:last-child {
    margin-right: 0;
  }
  .feedback-content__btn {
    width: 94.5%;
    margin-top: 20px;
  }
  .feedback-content__blank {
    width: 255px;
    margin: 0;
    margin-top: 20px;
    margin-left: 27%;
  }
  .feedback-content__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__select {
    margin-left: 0;
  }
  .form__select select {
    width: 94.5%;
    text-align-last: center;
    padding-left: 0;
  }
  .form__select:before {
    right: 52px;
  }
  .form__select:after {
    right: 58px;
  }
}

@media only screen and (max-width: 1170px) {
  .feedback-content__form_title {
    font-size: 24px;
    line-height: 30px;
  }
  .feedback-content__form_title br {
    display: none;
  }
  .feedback-content__form_subtitle {
    font-size: 16px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1126px) {
  .reviews-content__block_entrails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .images-slide {
    left: 415px;
  }
  .images-slide2 {
    right: 420px;
  }
}

@media only screen and (max-width: 1056px) {
  .header {
    background-color: #EAF7FB;
  }
  .header-navbar {
    display: none;
  }
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-content__phone {
    display: none;
  }
  .header-content__btns {
    display: none;
  }
  .header-content__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 70%;
    text-align-last: left;
  }
  .header-content__logo_tranparent {
    margin-right: 5px;
  }
  .header-content__logo_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__subtitle {
    display: none;
  }
  .header-content__title span:before {
    display: none;
  }
  .humburger-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .images-slide {
    left: 395px;
  }
  .images-slide2 {
    right: 400px;
  }
}

@media only screen and (max-width: 1042px) {
  .header-content__logo {
    margin-right: 68%;
  }
}

@media only screen and (max-width: 1100px) {
  .feedback-content__form_add input {
    width: 90%;
  }
  .add-link__visible input {
    padding-left: 22px;
  }
}

@media only screen and (max-width: 1010px) {
  .feedback-content__blank {
    margin-left: 22%;
  }
  .images-slide {
    left: 380px;
  }
  .images-slide2 {
    right: 385px;
  }
}

@media only screen and (max-width: 979px) {
  .header-content__logo {
    margin-right: 65%;
  }
}

@media only screen and (max-width: 966px) {
  .images-slide {
    left: 355px;
  }
  .images-slide2 {
    right: 355px;
  }
}

@media only screen and (max-width: 960px) {
  .feedback-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback-content__form {
    text-align: center;
  }
  .feedback-content__image {
    display: none;
  }
  .feedback-content__blank {
    margin-left: 30%;
  }
  .form__select select {
    margin-right: 33px;
  }
  .add-link__visible input {
    width: 91%;
  }
}

@media only screen and (max-width: 900px) {
  .images-slide {
    left: 320px;
  }
  .images-slide2 {
    right: 320px;
  }
}

@media only screen and (max-width: 895px) {
  .header-content__logo {
    margin-right: 60%;
  }
}

@media only screen and (max-width: 857px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: centenr;
        -ms-flex-pack: centenr;
            justify-content: centenr;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content img {
    display: none;
  }
  .footer-content__box {
    margin-bottom: 24px;
  }
  .footer-content__box:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 834px) {
  .images-slide {
    left: 300px;
  }
  .images-slide2 {
    right: 300px;
  }
}

@media only screen and (max-width: 785px) {
  .header-content__logo {
    margin-right: 55%;
  }
  .images-slide {
    left: 250px;
  }
  .images-slide2 {
    right: 250px;
  }
}

@media only screen and (max-width: 696px) {
  .header-content__logo {
    margin-right: 50%;
  }
}

@media only screen and (max-width: 676px) {
  .images-slide {
    left: 180px;
  }
  .images-slide2 {
    right: 180px;
  }
}

@media only screen and (max-width: 625px) {
  .header-content__logo {
    margin-right: 40%;
  }
  .feedback-content__blank {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 620px) {
  .order-content__box {
    font-size: 13px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 587px) {
  .reviews-content__block_entrails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 555px) {
  .reviews-content__block-text {
    width: 344px;
  }
  .images-slide {
    bottom: 81px;
  }
  .images-slide2 {
    bottom: 81px;
  }
}

@media only screen and (max-width: 560px) {
  .modal-window {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .news {
    padding-bottom: 50px;
  }
  .news-content__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align-last: left;
  }
  .news-content__box br {
    display: none;
  }
  .news-content__box_text {
    text-align: left;
  }
}

@media only screen and (max-width: 524px) {
  .header-content__logo {
    margin-right: 30%;
  }
  .feedback-content__blank {
    margin-left: 20%;
  }
}

@media only screen and (max-width: 520px) {
  .order-content__box {
    max-width: 90%;
  }
  .order-content__box ul {
    padding-left: 42px;
  }
}

@media only screen and (max-width: 518px) {
  .images-slide {
    left: 150px;
  }
  .images-slide2 {
    right: 150px;
  }
}

@media only screen and (max-width: 460px) {
  .reviews-content__block-text {
    width: 300px;
  }
}

@media only screen and (max-width: 450px) {
  .header-content__logo {
    margin-right: 16%;
  }
  .feedback-content__blank {
    margin-left: 18%;
  }
  .images-slide {
    left: 50px;
  }
  .images-slide2 {
    right: 50px;
  }
}

@media only screen and (max-width: 402px) {
  .reviews-content__block-text {
    width: 280px;
  }
}

@media only screen and (max-width: 390px) {
  .header-content__logo {
    margin-top: 0;
  }
  .feedback-content__blank {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 390px) {
  .header-content__title {
    font-size: 9px;
    line-height: 15.34px;
  }
  .header-content__title span {
    font-size: 18px;
    line-height: 15.34px;
  }
  .header-content__logo {
    margin-top: 0;
  }
  .humburger-wrap {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 370px) {
  .order-content__title {
    font-size: 20px;
  }
  .order-content__box ul {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 320px) {
  .feedback-content__blank {
    margin-left: 3%;
  }
  .reviews-content__block-text {
    width: 238px;
  }
  .reviews-content__block-text_h {
    font-size: 16px;
  }
  .reviews-content__block-text_l {
    font-size: 14px;
    line-height: 12px;
  }
  .modal-content_close {
    top: 12px;
    right: 16px;
  }
  .modal-content__form_feedback {
    margin: 5px 2%;
  }
  .modal-content__form_title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .modal-content__form_subtitle {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .images-slide {
    bottom: 65px;
  }
  .images-slide2 {
    bottom: 65px;
  }
}
/*# sourceMappingURL=main.css.map */