@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/RobotoBold/RobotoBold.eot');
  src: url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype'),
    url('../fonts/RobotoBold/RobotoBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/RobotoLight/RobotoLight.eot');
  src: url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype'),
    url('../fonts/RobotoLight/RobotoLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/RobotoMedium/RobotoMedium.eot');
  src: url('../fonts/RobotoMedium/RobotoMedium.ttf') format('truetype'),
    url('../fonts/RobotoMedium/RobotoMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century Bold';
  src: url('../fonts/century.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}